@font-face {
  font-family: "HankenGrotesk";
  src: URL("https://github.com/THSPSS/Results-summary-component/blob/master/assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}
/*-------------root-------------*/
:root {
  /*Primary*/
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /*Gradients*/
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /*Neutral*/
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* font-weight */
  --fw-5: 500;
  --fw-7: 700;
  --fw-8: 800;
}

/*-------------root end----------*/
* {
  margin: 0;
  padding: 0;
  font-family: "HankenGrotesk";
}
* a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.body {
  height: 100vh;
  position: relative;
}
.body .attribution {
  margin: 70px auto;
}
.body .attribution a {
  display: inline-block;
}
@media (min-width: 1024px) {
  .body .attribution {
    position: fixed;
    bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .body .container {
    display: flex;
    justify-content: center;
    border-radius: 0 26px 26px 0;
    box-shadow: 0.5rem 1rem 3rem hsla(221, 100%, 96%, 0.5);
  }
}
.body .container .score-container {
  display: grid;
  justify-items: center;
  text-align: center;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  padding-block: 26px;
  border-radius: 0 0 26px 26px;
}
@media (min-width: 1024px) {
  .body .container .score-container {
    padding-inline: 36px;
    border-radius: 26px;
  }
}
.body .container .score-container .score-title,
.body .container .score-container .score-sidetext {
  color: var(--White);
}
.body .container .score-container .score-title {
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
}
.body .container .score-container .score-sidetext {
  -webkit-margin-after: 12px;
  margin-block-end: 12px;
  font-size: 26px;
  font-weight: var(--fw-7);
}
@media (min-width: 1024px) {
  .body .container .score-container .score-sidetext {
    font-size: 20px;
  }
}
.body .container .score-container .score-text {
  color: var(--Light-lavender);
  font-weight: var(--fw-5);
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}
.body .container .score-container .score-text .xl {
  display: none;
}
@media (min-width: 1024px) {
  .body .container .score-container .score-text .sm {
    display: none;
  }
  .body .container .score-container .score-text .xl {
    display: block;
  }
}
.body .container .score-container .circle {
  display: grid;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}
.body .container .score-container .circle .score-title {
  font-size: 52px;
}
.body .container .summary-container {
  padding-inline: 20px;
}
.body .container .summary-container .summary-title {
  font-size: 18px;
  font-weight: var(--fw-8);
  margin-block: 20px;
}
.body .container .summary-container .reaction {
  background-color: hsl(0, 100%, 98%);
}
.body .container .summary-container .reaction p {
  color: var(--Light-red);
}
.body .container .summary-container .memory {
  background-color: hsl(40, 100%, 98%);
}
.body .container .summary-container .memory p {
  color: var(--Orangey-yellow);
}
.body .container .summary-container .verbal {
  background-color: hsl(169, 100%, 96%);
}
.body .container .summary-container .verbal p {
  color: var(--Green-teal);
}
.body .container .summary-container .visual {
  background-color: hsl(233, 100%, 98%);
}
.body .container .summary-container .visual p {
  color: var(--Cobalt-blue);
}
.body .container .summary-container .summary-box {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-block: 20px;
  margin-block: 20px;
}
@media (min-width: 1024px) {
  .body .container .summary-container .summary-box {
    padding-block: 13px;
    margin-block: 10px;
  }
}
.body .container .summary-container .summary-box .title {
  font-weight: var(--fw-7);
}
.body .container .summary-container .summary-box img {
  margin-inline: 16px;
}
.body .container .summary-container .summary-box .point,
.body .container .summary-container .summary-box .summary-total {
  font-weight: var(--fw-8);
}
.body .container .summary-container .summary-box .point-box {
  display: flex;
  align-items: center;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
}
.body .container .summary-container .summary-box .point-box .point {
  color: var(--Dark-gray-blue);
  -webkit-margin-start: 50px;
  margin-inline-start: 50px;
  -webkit-margin-end: 6px;
  margin-inline-end: 6px;
}
.body .container .summary-container .summary-box .point-box .summary-total {
  color: rgb(167, 166, 166);
}
.body .container .summary-container .btn {
  color: var(--White);
  font-weight: var(--fw-5);
  font-size: 20px;
  text-align: center;
  background-color: var(--Dark-gray-blue);
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
  border-radius: 40px;
  padding-inline: 130px;
  padding-block: 14px;
}
.body .container .summary-container .btn:hover {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}
@media (min-width: 1024px) {
  .body .container .summary-container .btn {
    font-size: 16px;
    padding-inline: 93px;
    padding-block: 10px;
  }
} /*# sourceMappingURL=style.css.map */
